# Atomist '${project_name}'

Congratulations! These are the Rug Koans for your own use.

You can now edit/amend or otherwise transmogrify these sources as you work through the Rug Koans.

Your next stop in your journey is the [Rug Koan Editors][rug-koan-editors]...

[rug-koans-editors]: https://github.com/atomist-rugs/rug-koans-editors
